
#page{
	width:100%;
    text-align:center;
}

#navigationHeight{
	height: 50px;
}

#navbarTogglerDemo01{
	
	z-index: 1000;
	
}

.img-logo:hover{
	cursor: pointer;
}

.nav-button{
	color: #3EB1E6;
	border: #3EB1E6 solid 1px;
	background: white;
	cursor: pointer;
	border-radius: 50px;
	padding: 3px 20px 5px 20px;
	margin-left: 20px;
	font-family: Candara;
}

.nav-button:hover{
	background: #3EB1E6;
	color: white;
	text-decoration:none;
}

#nav-button-geo{
	margin-left: 50px;
}

.left-side-menu{
	text-align: lef;
	position: fixed;
	/* height: 80%; */
	width: 15%;
	/* background: yellowgreen; */
	top: 10%;
	bottom: 10%;
}

.map-panel{
	
	position: fixed;
	width: 61%;
    top: 10%;
	bottom: 10%;
	left: 15.5%;
	/* background:blueviolet; */

}
html, body {
	height: 100%;
  }



.item{
	/* list-style-type: none; */
	/* left: 75%; */
	/* position: absolute  */
}

.alerts-panel{
	text-align: center;
	position: fixed;
	right: 0;
	width: 23%;
	/* background: #3EB1E6; */
	top: 10%;
	bottom: 10%;
	z-index: 1;
}


.footer-panel{
	position: fixed;
	bottom: 0;
	/* background: red; */
	width: 100%;
	top: 90.5%;

}




.alerts-table{
	position: absolute;
	right: 0%;
	left: 1%;
	height: 30%;
	overflow-y: scroll;
	display: block;
	border-radius: 15px;
}

.alarms-table{
	top: 5%;
}

.warnings-table{
	top: 40.5%;
}

.details-table{
	position: absolute;
	top: 77%;
	width: 100%;
	left: 1%;
	overflow-y: scroll;
	display: block;
	height: 22%;
	border-radius: 15px;
}

h1{
	font-size: 20px;
	font-family: Candara;
	font-weight: bold;
	position: absolute;
	left: 2%;
}

#alarms-h1{
	color: #3EB1E6;
	top: 0.5%;
}


#warnings-h1{
	color: #3EB1E6;
	top: 36%;
}

#details-h1{
	color: #3EB1E6;
	top: 72%;
}


.tables-header{
	font-family: Candara;
	width: 100%;
}

th, td {
    border-bottom: 1px solid #ddd;
} 
th{
	border-right: 1px solid #ddd;
	padding: 0 17px;
}


.alarms-panel{
	padding-left: 5px;
	padding-right: 5px;
}

.details-header{
	padding: 0 35px;
}

.bottom-logo{
	width: 84.5px;
	height: 36.5px;
	position: absolute;
	left: 2%;
	top: 15%;
}

h2{
	font-family: Century Gothic;
	font-size: 20px;
	color: #3EB1E6;
	position: absolute;
	top: 2%;
	left: 10%;
}

.itens{
	position: absolute;
	top: 10%;
}
li{
	color: #3EB1E6;
}

h3{
	color: blue;
	font-size: 80%;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	right: 11%;
	top: 45%;
}

.link-mailto{
	position: absolute;
	font-size: 80%;
	font-family: Arial, Helvetica, sans-serif;
	right: 2%;
	top: 42%;


}


td{
	font-size: 12px;
	font-family: Malgun Gothic;
	padding: 0 0;
}

th{
	background: rgb(234, 241, 241);
	max-width: 50%;
}

#asset-level{
	color: #3EB1E6;
}

agm-map {
	height: 100%;
  }